#page {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.ant{
    position: absolute;
    height: 2%;
    width: 2%;
}

.head, .thorax, .abdomen {
    border-radius: 50%;
    background-color: black;
    height: 10%;
    width: 5%;
}

.overlay {
    position: absolute;
    cursor: pointer;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}